:root{
	--ligth-blue:#4abebd;
	--dark-blue:#2bb3b1;
	--green:#bfdf32;
	--text-color:#a9aeb3;
	--text-color-blue:#67d6d5;
}

body{
	background-color: #e6eff6;
	font-family: 'Karla', sans-serif;
	color: var(--text-color);
}

main{
	background-color: white;
	border-radius: 10px;
	box-shadow: rgba(1,1,1, .1) 3px 3px 10px 4px;
	margin: 3rem auto;
	max-width: 50vw;
}

.padding-1rem{padding: 1rem 2rem}

.flex{
	display: flex;
	max-width: 100%;
}

.dark-blue-font{color: var(--dark-blue)}

.green-font{color: var(--green)}

.white-font{color: white}

.btn{
	padding: .5rem;
	margin: 0 auto;
	display: block;
	text-align: center;
	width: 100%; 
	font-size: 1.3rem;
	color: white;
	text-decoration: none;
	background-color: var(--green);
	border-radius: 5px;
	box-shadow: rgba(3,3,3, .2) 2px 2px 8px;
}

.flex-item{
	width: 50%;
	padding: 1rem 2rem;
	background-color: var(--dark-blue);
	color: whitesmoke;
}

.attribution{
	text-align: center;
}

@media (max-width: 718px) {
	.flex{flex-wrap: wrap;}

	.flex-item{
		width: 100%;
		padding: .5rem;
	}

	.btn{width: 80%}

	main{max-width: 90vw}
}