:root {
  --paper-w: 215.9mm; /*A4 210mm;*/
  --paper-h: 279.4mm; /*A4 297mm;*/
  --paper-padding: 1cm;
  --font-main: 'Crimson Pro', 'Times New Roman', Georgia, serif;
  --font-main-size: 12pt;
  --font-title: Georgia, serif;
  --standard-margin: .8rem;
  --blue: #499fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, black 0%, #1d1129 25%, #20293a 50%, #404855 75%, #49515e 100%);
}

@media print {
  fab-menu {
    display: none;
  }

  @page {
    size: letter portrait;
    margin: 0mm;
  }
}
