/**Coded with love by Jose Rios @jor1mo 14/08/2020**/

/*---Variables----*/
:root{
	--body-color: darkslategray;
	--background-subtitle-color: #eee;
	--light-font-color: beige;
	--dark-font-color: slategray;
	--subtitle-font: Verdana, sans-serif;
	--title-font: Helvetica, sans-serif;
}
/*----Initial CSS reset------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
	background-color: var(--body-color);
	
	
	text-align: center;
	
}

h1{
	font-size: 2rem;
	font-family: var(--title-font);
	color: var(--light-font-color);
}

h2{
	font-size: 1.5rem;
	font-family: var(--subtitle-font);
	color:var(--light-font-color);
	font-weight: 500;
}

h6{
	color: var(--light-font-color);
	font-family: var(--title-font);
}

ul{
	list-style: none;
}

.container{
	margin: 1rem auto;
	max-width: 70vw;
}

/*-----Header----*/
#header{
	padding: 1rem 3rem;
	max-width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*----Sections grid template-----*/
.grid{
	margin: 5rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-auto-rows: auto;
}

.grid-item{
	background-color: var(--background-subtitle-color);
	padding: 1rem;
}

.grid-item:first-child{
	grid-column: 1/span 3;
	background-color: lightslategray;
	padding: 2rem 0;
}

/*----every project image------*/
#ig{
	display: inline-block;
	background: url(../img/Instagram-Logo.svg) no-repeat center center/contain;
	width: 100%;
	height: 150px;
	transition: opacity,height 300ms;
	opacity: .8;
}#ig:hover{
	opacity: 1;
	height: 165px;
}

#google{
	display: inline-block;
	background: url(../img/gLogo.png) no-repeat center center/contain;
	width: 100%;
	height: 150px;
	transition: opacity,height 300ms;
	opacity: .8;
}#google:hover{
	opacity: 1;
	height: 165px;
}

#wiki{
	display: inline-block;
	background: url(../img/wikiLogo.png) no-repeat center center/contain;
	width: 100%;
	height: 150px;
	transition: opacity,height 300ms;
	opacity: .8;
}#wiki:hover{
	opacity: 1;
	height: 165px;
}