/*
init-> 4/08/2020
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
}

.titulo-pagina{
	margin: 40px auto 5px;
	padding: 10px;
	font-weight: 400;
	max-width: 300px;
	font-size: 1.3rem;
	text-align: center;
	font-family: Linux Libertine,Hoefler Text,Georgia,Times New Roman,Times,serif;
}.titulo-pagina h2{
	font-family: Times New Roman,Times,serif;
	font-size: 1rem;
}

/*-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif*/

.panel-de-idiomas{
	margin: 0 auto;
	padding: 5px 20px 10px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
	position: relative;
	width: 800px;
	height: 300px;
	max-width: 100%;
}

#wiki-img{
	width: 200px;
	height: 184px;
	position: absolute;
	top: 58px;
	left: 300px;
}

.idioma{
	position: absolute;
	margin: 0;
	padding: 5px;
	text-align: center;
	color:#36c;
	text-decoration: none;
	width: 150px;
	display: inline-block;
}.idioma div small{
	color: #444;
}

.idioma:nth-child(2){
	top: 0px;
	left: 180px;/*ingles*/
}.idioma:nth-child(3){
	top: 0px;
	left: 460px;/*portugues*/
}.idioma:nth-child(4){
	top: 60px;
	left: 140px;/*español*/
}.idioma:nth-child(5){
	top: 60px;
	left: 500px;/*japones*/
}.idioma:nth-child(6){
	top: 120px;
	left: 120px;/*aleman*/
}.idioma:nth-child(7){
	top: 120px;
	left: 520px;/*ruso*/
}.idioma:nth-child(8){
	top: 180px;
	left: 140px;/*frances*/
}.idioma:nth-child(9){
	top: 180px;
	left: 500px;/*italiano*/
}.idioma:nth-child(10){
	top: 240px;
	left: 180px; /*chino*/
}.idioma:nth-child(11){
	top: 240px;
	left: 460px; /*polski*/
}




section{
	display: flex;
}

.inline-block-side{
	display: inline-block;
	width: 600px;
}

.right-flexbox{
	display: flex;
	flex-direction: column;
}

.grid-item .flex-inside-item{
	display: flex;
	align-items: center;
}

.right-flexbox .flex-inside-item{
	display: flex;
	align-items: baseline;
}

.grid-item .flex-inside-item div:last-child{
	margin: 15px;
	color: #777;
	font-size: .8rem;
}


.right-flexbox .flex-inside-item div{
	margin: 15px;
	text-decoration: none;
	color: #777;
	font-size: .8rem;
}


.nice-img{
	width: 40px;
	height: 40px;
	display: inline-block;
}


.grid{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 50px;
}

.grid-item{
	text-decoration: none;
	margin: 0 5px;
}.grid-item h2{
	font-size: .8rem;
	color: #36c;
	font-weight: 100;
	margin-bottom: 5px; 
}.grid-item p{

}



#awiki{
	background: url(../img/awiki.jpg) no-repeat center center/contain;
}#bwiki{
	background: url(../img/bwiki.jpg) no-repeat center center/contain;
}


#commons{
	background: url(https://raw.githubusercontent.com/wikimedia/portals/search-box/dev/wikipedia.org/assets/img/sprite_assets/project-logos/Commons-logo_sister.png)
	no-repeat center center/contain; 
}#wikivoyage{
	background: url(https://raw.githubusercontent.com/wikimedia/portals/search-box/dev/wikipedia.org/assets/img/sprite_assets/project-logos/Wikivoyage-logo_sister.png)
	no-repeat center center/contain; 
}#wiktonary{
	background: url(https://raw.githubusercontent.com/wikimedia/portals/search-box/dev/wikipedia.org/assets/img/sprite_assets/project-logos/Wiktionary-logo_sister.png)
	no-repeat center center/contain;
}#wikibooks{
	background: url(https://raw.githubusercontent.com/wikimedia/portals/search-box/dev/wikipedia.org/assets/img/sprite_assets/project-logos/Wikibooks-logo_sister.png)
	no-repeat center center/contain;
}#wikinews{
	background: url(https://raw.githubusercontent.com/wikimedia/portals/search-box/dev/wikipedia.org/assets/img/sprite_assets/project-logos/Wikinews-logo_sister.png)
	no-repeat center center/contain;
}#wikidata{
	background: url(https://raw.githubusercontent.com/wikimedia/portals/search-box/dev/wikipedia.org/assets/img/sprite_assets/project-logos/Wikidata-logo_sister.png)
	no-repeat center center/contain;
}#wikiversity{
	background: url(https://raw.githubusercontent.com/wikimedia/portals/search-box/dev/wikipedia.org/assets/img/sprite_assets/project-logos/Wikiversity-logo_sister.png)
	no-repeat center center/contain;
}#wikiquote{
	background: url(https://raw.githubusercontent.com/wikimedia/portals/search-box/dev/wikipedia.org/assets/img/sprite_assets/project-logos/Wikiquote-logo_sister.png)
	no-repeat center center/contain;
}#mediawiki{
	background: url(https://github.com/wikimedia/portals/blob/search-box/dev/wikipedia.org/assets/img/sprite_assets/project-logos/MediaWiki-logo_sister.png?raw=true)
	no-repeat center center/contain;
}#wikisource{
	background: url(https://raw.githubusercontent.com/wikimedia/portals/search-box/dev/wikipedia.org/assets/img/sprite_assets/project-logos/Wikisource-logo_sister.png)
	no-repeat center center/contain;
}#wikispecies{
	background: url(https://raw.githubusercontent.com/wikimedia/portals/search-box/dev/wikipedia.org/assets/img/sprite_assets/project-logos/Wikispecies-logo_sister.png)
	no-repeat center center/contain;
}#metawiki{
	background: url(https://raw.githubusercontent.com/wikimedia/portals/search-box/dev/wikipedia.org/assets/img/sprite_assets/project-logos/Meta-logo_sister.png)
	no-repeat center center/contain;
}#wiktionary{
	background: url()
	no-repeat center center/contain;
}
